/* Colors and fonts */

body {
	background: #F2F4F3;
	color:  rgb(80, 80, 80);
	font-family: 'Montserrat', sans-serif;
	font-size:  16px;
	background-image: url(https://www.baltana.com/files/wallpapers-30/Abstract-Reflux-Artistic-Background-Wallpaper-101152.jpg);
}

h1 {
	color: #124E78;
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-weight:  400;
	letter-spacing: 2px;
}

h2 {
	color: #0FA3B1;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 6px;
}

a {
	text-decoration: none;
	color: #0FA3B1;
	font-weight: bold;
}



/* Custom design with class */

.container {
	width: 800px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.box-white {
	background: white;
	padding: 20px;
	box-shadow: 0px 10px 30px rgba(15,163,177,0.2);
	border-radius: 7px;
	margin: 40px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #0FA3B1;
	color: #F2F4F3;
	padding: 15px 20px;
	border-radius: 7px;
}

.btn-blue:hover {
	background-color: #124E78;
	color: #F2F4F3;
}

.list-inline {
	list-style: none;
	padding-left: 0px
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: #0FA3B1;
}

.list-inline i:hover {
	color: #124E78;
}

#introduction p {
	margin-bottom: 40px;
}

#introduction {
	padding-bottom: 40px;
}



















